
<!DOCTYPE html>
<html>
<head>
	<title>Rishabh Singh</title>


<style>
body{

	background-color:#ecf0f1;


}

#input1{
	height:20px;
	width:300px;
	border:5px solid #0be881;
	border-radius:7px;


}

#bt1{
	height:40px;
	width:80px;
	border:5px solid #ffd32a;
	border-radius:7px;
	
	background-color:#ffd32a;
	font-weight:bold;


}

</style>
	
</head>
<body>
	
<h1>Url Shortner</h1>
<form action="shorti">
<input id="input1" type="text" placeholder="enter url you want to short" name="urltowork">
<button id="bt1">Submit</button>
<form/><br>
 <b>{{shortened}}</b>

</body>
</html>